@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --strong-cyan: #26c0ab;
  --very-dark-cyan: #00494d;
  --grayish-cyan: #7f9c9f;
  --light-grayish-cyan: #c5e4e7;
  --very-light-grayish-cyan: #f4fafa;
  --dark-grayish-cyan: #5e7a7d;
}

@layer base {
  body {
    background-color: var(--light-grayish-cyan);
    font-family: "Space Mono", monospace;
    font-weight: 700;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  .error-input {
    @apply outline outline-red-400;
  }
}
